In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams['font.family'] = "MS Gothic" # Use this font to avoid encoding error
import os

import sys
sys.path.append('../src/')
sys.dont_write_bytecode = True  # __pycache__ 生成を防ぐ

from vege_preprocess import Weather

In [4]:
train_df = pd.read_csv('../data/train.csv')
print(train_df.shape)
train_df

(97782, 5)

       kind      date  amount  mode_price      area
0      だいこん  20051107  201445       735.0        千葉
1      だいこん  20051108  189660       840.0  千葉_各地_青森
2      だいこん  20051110  218166       735.0  千葉_各地_青森
3      だいこん  20051111  182624       682.5     千葉_青森
4      だいこん  20051112  220691       682.5     千葉_青森
...     ...       ...     ...         ...       ...
97777   しめじ  20170526   17231        48.5     新潟_長野
97778   しめじ  20170527   17105        48.5     新潟_長野
97779   しめじ  20170529   12406        48.5     新潟_長野
97780   しめじ  20170530   12320        48.5     新潟_長野
97781   しめじ  20170531   11635        43.0     新潟_長野

[97782 rows x 5 columns]

In [5]:
test_df = pd.read_csv('../data/test.csv', usecols = ['area'])
print(test_df.shape)
test_df

(320, 1)

         area
0    千葉_各地_青森
1    千葉_各地_青森
2    千葉_各地_青森
3    千葉_各地_青森
4    千葉_各地_青森
..        ...
315     各地_愛知
316     各地_愛知
317     各地_愛知
318     各地_愛知
319     各地_愛知

[320 rows x 1 columns]

In [6]:
import itertools

test_area = set(itertools.chain.from_iterable(pd.Series(test_df.area.unique()).str.split('_').to_list()))
test_area

{'千葉',
 '各地',
 '埼玉',
 '岩手',
 '徳島',
 '愛知',
 '東京',
 '栃木',
 '熊本',
 '群馬',
 '茨城',
 '長崎',
 '長野',
 '青森',
 '静岡',
 '鹿児島'}

In [7]:
wea_df = pd.read_csv('../data/weather.csv')
print(wea_df.shape)
wea_df

(204320, 10)

,date,mean_temp,max_temp,max_temp_time,min_temp,min_temp_time,sum_rain,sun_time,mean_humid,area
0,20041106,13.1,20.1,2004/11/6 12:50,8.1,2004/11/6 05:31,5.0,1.6,77.0,青森
1,20041107,9.6,12.5,2004/11/7 13:40,5.4,2004/11/7 22:17,0.0,4.1,63.0,青森
2,20041108,9.0,15.5,2004/11/8 12:51,3.2,2004/11/8 06:28,0.0,8.9,72.0,青森
3,20041109,12.2,17.7,2004/11/9 14:40,5.7,2004/11/9 02:49,1.5,1.2,85.0,青森
4,20041110,11.6,16.4,2004/11/10 14:42,6.9,2004/11/10 06:23,0.0,7.5,89.0,青森
...,...,...,...,...,...,...,...,...,...,...
204315,20220426,21.3,23.6,2022/4/26 14:27,17.9,2022/4/26 04:17,2.5,0.0,89.0,東京
204316,20220427,23.0,27.7,2022/4/27 13:12,18.9,2022/4/28 0:00,0.5,1.6,79.0,東京
204317,20220428,16.9,21.1,2022/4/28 15:03,14.2,2022/4/28 22:40,0.0,5.5,57.0,東京
204318,20220429,12.9,16.4,2022/4/29 09:21,9.0,2022/4/29 23:55,40.0,0.2,86.0,東京
204319,20220430,12.6,18.4,2022/4/30 14:49,7.4,2022/4/30 05:28,0.0,12.4,64.0,東京

In [8]:
wea_df['month'] = pd.to_datetime(wea_df['date'].astype(str)).dt.month
wea_df['year'] = pd.to_datetime(wea_df['date'].astype(str)).dt.year
wea_df['day'] = pd.to_datetime(wea_df['date'].astype(str)).dt.day

In [9]:
test = Weather()

In [10]:
test.add_agg_features(wea_df)

,area,year,month,mean_temp_mean,mean_temp_max,mean_temp_min,max_temp_mean,max_temp_max,max_temp_min,min_temp_mean,...,min_temp_min,sum_rain_mean,sum_rain_max,sum_rain_min,sun_time_mean,sun_time_max,sun_time_min,mean_humid_mean,mean_humid_max,mean_humid_min
0,仙台,2004,11,11.256000,16.4,4.4,15.196000,19.3,7.5,7.152000,...,1.1,1.340000,20.0,0.0,4.436000,9.4,0.0,68.320000,93.0,45.0
1,仙台,2004,12,5.422581,13.3,-1.2,9.212903,21.6,0.4,1.825806,...,-4.4,2.048387,42.0,0.0,4.441935,8.9,0.0,64.225806,86.0,46.0
2,仙台,2005,1,1.590323,5.4,-2.0,5.077419,11.1,0.6,-1.809677,...,-5.6,2.000000,44.5,0.0,3.938710,9.4,0.0,69.709677,92.0,51.0
3,仙台,2005,2,0.828571,3.0,-1.3,4.335714,8.6,0.3,-2.221429,...,-4.7,2.000000,25.0,0.0,4.392857,9.0,0.0,68.750000,89.0,48.0
4,仙台,2005,3,4.061290,8.2,-1.2,8.332258,13.5,0.1,0.225806,...,-4.6,1.903226,28.0,0.0,5.522581,10.8,0.0,63.000000,89.0,43.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6715,鹿児島,2021,12,10.451613,14.5,3.9,15.135484,19.8,5.9,6.261290,...,0.2,1.548387,41.0,0.0,5.693548,9.8,0.0,67.516129,90.0,53.0
6716,鹿児島,2022,1,9.012903,14.4,6.1,13.500000,17.6,9.1,5.341935,...,0.2,1.451613,32.5,0.0,4.429032,10.0,0.0,63.903226,91.0,48.0
6717,鹿児島,2022,2,8.314286,13.8,5.2,12.721429,18.3,8.5,4.932143,...,1.2,0.821429,10.0,0.0,4.642857,10.7,0.0,62.428571,83.0,47.0
6718,鹿児島,2022,3,14.361290,20.0,9.4,19.477419,25.7,12.1,10.032258,...,4.1,6.000000,82.5,0.0,4.958065,11.1,0.0,71.064516,88.0,49.0
6719,鹿児島,2022,4,18.423333,23.9,13.8,23.096667,27.2,17.1,14.590000,...,8.1,11.166667,80.5,0.0,6.443333,12.1,0.0,71.200000,94.0,46.0

In [11]:
tmp = test.add_agg_features(wea_df, ['area', 'year', 'month', 'day'])

In [12]:
tmp[tmp.area.isin(test_area)]

,area,year,month,day,mean_temp_mean,mean_temp_max,mean_temp_min,max_temp_mean,max_temp_max,max_temp_min,...,min_temp_min,sum_rain_mean,sum_rain_max,sum_rain_min,sun_time_mean,sun_time_max,sun_time_min,mean_humid_mean,mean_humid_max,mean_humid_min
19155,千葉,2004,11,6,17.4,17.4,17.4,21.2,21.2,21.2,...,14.1,0.0,0.0,0.0,5.1,5.1,5.1,84.0,84.0,84.0
19156,千葉,2004,11,7,17.0,17.0,17.0,22.2,22.2,22.2,...,13.5,0.0,0.0,0.0,7.9,7.9,7.9,77.0,77.0,77.0
19157,千葉,2004,11,8,15.8,15.8,15.8,19.0,19.0,19.0,...,12.7,0.0,0.0,0.0,0.6,0.6,0.6,72.0,72.0,72.0
19158,千葉,2004,11,9,16.8,16.8,16.8,21.5,21.5,21.5,...,12.4,0.0,0.0,0.0,7.8,7.8,7.8,75.0,75.0,75.0
19159,千葉,2004,11,10,16.7,16.7,16.7,21.9,21.9,21.9,...,11.5,0.0,0.0,0.0,6.7,6.7,6.7,79.0,79.0,79.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204315,鹿児島,2022,4,26,23.9,23.9,23.9,27.0,27.0,27.0,...,21.3,47.0,47.0,47.0,0.0,0.0,0.0,88.0,88.0,88.0
204316,鹿児島,2022,4,27,22.5,22.5,22.5,25.1,25.1,25.1,...,20.4,10.5,10.5,10.5,0.9,0.9,0.9,89.0,89.0,89.0
204317,鹿児島,2022,4,28,22.4,22.4,22.4,27.2,27.2,27.2,...,20.0,2.0,2.0,2.0,6.4,6.4,6.4,85.0,85.0,85.0
204318,鹿児島,2022,4,29,19.6,19.6,19.6,24.7,24.7,24.7,...,14.6,52.0,52.0,52.0,3.2,3.2,3.2,83.0,83.0,83.0
204319,鹿児島,2022,4,30,16.8,16.8,16.8,20.7,20.7,20.7,...,13.0,0.0,0.0,0.0,6.3,6.3,6.3,71.0,71.0,71.0

In [13]:
test_df

         area
0    千葉_各地_青森
1    千葉_各地_青森
2    千葉_各地_青森
3    千葉_各地_青森
4    千葉_各地_青森
..        ...
315     各地_愛知
316     各地_愛知
317     各地_愛知
318     各地_愛知
319     各地_愛知

[320 rows x 1 columns]